name: Deploy to AWS SAM

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - uses: aws-actions/setup-sam@v2
      
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # Build and Deploy
      - run: sam build --use-container
      - run: |
          sam deploy --no-confirm-changeset --no-fail-on-empty-changeset \
            --stack-name stock-data-analysis-prod \
            --capabilities CAPABILITY_IAM \
            --region us-east-1 \
            --resolve-s3 \
            --parameter-overrides \
              ParameterKey=EmailSender,ParameterValue=${{ secrets.EMAIL_SENDER }} \
              ParameterKey=EmailPassword,ParameterValue=${{ secrets.EMAIL_PASSWORD }} \
              ParameterKey=EmailRecipient,ParameterValue=${{ secrets.EMAIL_RECIPIENT }}
